canvas {
  left: 0;
  right: 0;
  width: 440px;
  height: 300px;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}